body {
    background-color: #FFE55F;
    margin: 0;
    
}
button {
    cursor: pointer;
}
.relative img {
    width: 50px;
    position: absolute;
    vertical-align: bottom;
    border-radius: 10px;
    top: 10px;
    left: 30px;
    cursor: pointer;
}

.relative div {
    position: absolute;
    background-color: dimgray;
    color: whitesmoke;
    padding: 10px 15px;
    font-size: 15px;
    top: 80px;
    left: 20px;
    opacity: 0;
    cursor: context-menu;
}

.relative {
    position: relative;
    display: inline-block
}

    .relative a:hover + div {
        opacity: 0.5;
    }

    .relative a:active img {
        filter: brightness(0.5) contrast(1.5);
    }

.name {
    border-color: red;
    font-size: 60px;
    font-style: italic;
    color: whitesmoke;
    text-shadow: 2px 0 red, -2px 0 red, 0 2px red, 0 -2px red, 1px 1px red, -1px -1px red, 1px -1px red, -1px 1px red;
    text-align: center;
} 
@media(max-width: 1000px){
    .small-so-none {
        display: none;
    }
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 70px;
    margin: 40px 40px;
}
@media(max-width: 1000px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
.magnifying-glass {
    width: 300px;
    border-radius: 30px;
}

.flex {
    display: flex;
    background-color: darkgreen;
    height: 300px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}
.center{
    display:flex;
    justify-content: center;
}
.input {
    font-size: 25px;
    border: 2px solid green;
    border-radius: 3px;
    margin-bottom: 10px;
    text-align: end;
}
.flex-center {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-self: center;
}
.flex-center-row {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
}
.afterConnection {
    padding: 20px;
    font-size: 20px;
    background-color: gold;
    margin: 10px;
    border-radius: 20px;
    transition: border 0.2s, opacity 0.2s;
}
.afterConnection:hover{
    border: 2px solid brown;
}
.afterConnection:active{
    opacity: 0.6;
}
.afterConnection-give {
    border: 1px solid yellow;
    margin: 10px;
    padding: 20px 30px;
    font-size: 20px;
    background-color: gold;
    border-radius: 10px;
}
.afterConnection-delete {
    border: 1px solid red;
    margin: 10px 200px 10px 0px;
    padding: 10px 20px;
    font-size: 20px;
    justify-self: end;
    background-color: #FF8900;
    border-radius: 10px;
}
.flex-join {
    display: flex;
    flex-direction: column;
    place-items: center;
}

